# Dependencies
node_modules/
.pnp
.pnp.*

# Testing
coverage/

# Next.js
.next/
out/

# Production
build/
dist/

# Misc
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.pem

# Debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env files
.env
.env.local
.env.*.local
*.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Project Specific
.temp_ag_kit/
